.index-body{
    background-image: url(../img/index-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.index-container{
    background-color: rgba(127, 255, 212, 0.616);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.index-content{
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    align-items: center;

}
.banana-body{
    background-image: url(../img/banana-plantation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.banana-container {
    background-color: rgba(224, 224, 118, 0.952);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.banana-content {
    background-image: url(../img/banana-product.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 500px; 
}

.banana-disc {
    
    width: 50%; 
    height: 500px; 
}

.pinea-body{
    background-image: url(../img/pineapple-plantation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.pinea-container {
    background-color: rgba(33, 97, 13, 0.801);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.pinea-content {
    background-image: url(../img/pineapple-cut.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 500px; 
}

.pinea-disc {
    color: aliceblue;
    width: 50%; 
    height: 500px; 
}
.pinea-content2{
    background-image: url(../img/pineapple-cut2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 750px; 
}

.jack-body{
    background-image: url(../img/jackfruit-plantation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 150vh;
    padding: 20px 0 0 20px;
}

.jack-container {
    background-color: rgba(13, 73, 97, 0.801);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 150vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    padding: 20px 0 0 20px;  
}



.jack-disc {
    color: aliceblue;
    width: 70%; 
    height: 500px; 
    margin: 0 auto;
}
.jack-content2{
    background-image: url(../img/jackfruit.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%; 
    height: 500px;
    margin: 0 auto; 
}

.coco-body{
    background-image: url(../img/coconut-plantation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    
}

.coco-container {
    background-color: rgba(207, 67, 42, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.coco-content {
    background-image: url(../img/coconut1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 400px; 
}

.coco-disc {
    font-size: 1.3rem;
    width: 50%; 
    height: 500px; 
    color: white;
}
.coco-container2 {
    background-color: rgba(207, 67, 42, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.coco-content2 {
    background-image: url(../img/coconut2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 400px; 
}

.coco-disc2 {
    font-size: 1.3rem;
    width: 90%; 
    height: 500px; 
    color: white;
}

.goat-body{
    background-image: url(../img/goat-farm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    
}

.goat-container {
    background-color: rgba(75, 29, 82, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.goat-content {
    background-image: url(../img/goat-milk.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 400px; 
}

.goat-disc {
    font-size: 1.3rem;
    width: 50%; 
    height: 500px; 
    color: white;
}
.goat-container2 {
    background-color: rgba(75, 29, 82, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.goat-content2 {
    background-image: url(../img/goat-milk2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 400px; 
}

.goat-disc2 {
    font-size: 1.3rem;
    width: 90%; 
    height: 500px; 
    color: white;
}

.horse-body{
    background-image: url(../img/horse-farm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    
}

.horse-container {
    background-color: rgba(87, 79, 77, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.horse-content {
    background-image: url(../img/horse-work.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 400px; 
}

.horse-disc {
    font-size: 1.3rem;
    width: 50%; 
    height: 500px; 
    color: white;
}
.horse-container2 {
    background-color: rgba(87, 79, 77, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.horse-content2 {
    background-image: url(../img/horse-ride.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 400px; 
}

.horse-disc2 {
    font-size: 1.3rem;
    width: 50%; 
    height: 500px; 
    color: white;
}

.cow-body{
    background-image: url(../img/cow-farm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    
}

.cow-container {
    background-color: rgba(87, 79, 77, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.cow-content {
    background-image: url(../img/cow-milk.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 600px; 
}

.cow-disc {
    font-size: 1.3rem;
    width: 45%; 
    height: 500px; 
    color: white;
}
.cow-container2 {
    background-color: rgba(87, 79, 77, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
}

.cow-content2 {
    background-image: url(../img/cow-milk2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%; 
    height: 600px; 
}

.cow-disc2 {
    font-size: 1.3rem;
    width: 45%; 
    height: 500px; 
    color: white;
}

.farmer-body{
    background-image: url(../img/farmer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 92.3vh;
    
}

.farmer-container{
    background-color: rgba(221, 108, 56, 0.692);
    background-blend-mode: multiply;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.inquiry-body {
    background-image: url(../img/farmer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
} 

.inquiry-content{
    background-color: rgba(87, 79, 77, 0.863);
    background-blend-mode: multiply;
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 20px;
    justify-content: center;
    align-items: center;
}
.inquiry-card1{
    padding: 20px;
}

.inquiry-card2{
    padding: 20px;
}
